<div class="container">
  <div class="form-group"> 
    <h1>Publication List</h1>
  </div> 

  <div *ngIf="publicationList" >
    <div class="col-12">
      
      <div  *ngFor="let publication of publicationList.elementList" class="card card-1" style="width: 17rem; margin: 10px" >
        <img class="card-img-top" [src]="publication.vehicle.photo" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">{{publication.vehicle.description}}</p>
          <p class="card-text">Capcity: {{publication.vehicle.capacity}}</p>
          <p class="card-text">Type: {{publication.vehicle.type}}</p>
          <p class="card-text">Acquire Location: <br> {{publication.acquireLocation.adressName}}</p>
          <p class="card-text">Cost: {{publication.costPerHour.amount}} {{publication.costPerHour.currency}}</p>
          <button (click)="goToDetails(publication.id)" class="btn btn-primary">Reserve</button>
        </div>
      </div>
     
      <br>
      <br>
    <nav aria-label="Navigation">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="publicationList.backUrl">Previous</a></li>
        <li class="page-item"><a class="page-link" href="publicationList.nextUrl">Next</a></li>
      </ul>
    </nav>
    </div>

</div>
</div>

