
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home" data-toggle="tooltip" data-placement="bottom" title="Home">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" i18n>Vehicles</a>
       <div class="dropdown-menu">
         <a routerLink="/vehicle/create" data-toggle="tooltip" data-placement="bottom" title="Create a new Vehicle" class="dropdown-item" >Create</a>
         <a routerLink="/vehicle/list" data-toggle="tooltip" data-placement="bottom" title="List Of Vehicles" class="dropdown-item" >List</a>

       </div>
     </li>
     
    </ul>
    <!-- <a routerLink="/logout" class="btn btn-outline-danger my-2 my-sm-0"> LogOut </a> -->
  </div>
</nav>
<br>
<div class="container-fluid">
	<div class="row justify-content-md-center">
		<div class="col col-lg-1"></div>
		
		<div class='col col-lg-10'>
			
			<router-outlet></router-outlet>
			
		</div>
		
		<div class="col col-lg-1"></div>
	</div>

</div>