<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/" data-toggle="tooltip"
     data-placement="bottom" title="Home">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" i18n>Vehicles</a>
           <div class="dropdown-menu">
             <a routerLink="/vehicle/create" data-toggle="tooltip" data-placement="bottom" title="Create a new Vehicle" class="dropdown-item" >Create</a>
             <a routerLink="/vehicle/list" data-toggle="tooltip" data-placement="bottom" title="List Of Vehicles" class="dropdown-item" >List</a>

           </div>
         </li>

         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" i18n>Me</a>
           <div class="dropdown-menu">
             <a routerLink="/user/detail" data-toggle="tooltip" data-placement="bottom" title="View Profile" class="dropdown-item" >Profile</a>
             <a routerLink="/user/add-money" data-toggle="tooltip" data-placement="bottom" title="Add money" class="dropdown-item" >Charge Money</a>
           </div>
         </li>

         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" i18n>Publication</a>
           <div class="dropdown-menu">
             <a routerLink="/publication/create" data-toggle="tooltip" data-placement="bottom" title="Create a new Publication" class="dropdown-item" >Create</a>
             <a routerLink="/publication/list" data-toggle="tooltip" data-placement="bottom" title="List Of User" class="dropdown-item" >List</a>

           </div>
         </li>

      </ul>
       <ul class="navbar-nav">
         <li class="nav-item" >
            <button
              class="btn btn-success"
              *ngIf="!authService.isAuthenticated()"
              (click)="authService.login()">
              Log In
            </button>


            <button style="margin-left: 10px;" 
              class="btn btn-warning"
              *ngIf="!authService.isAuthenticated()"
              (click)="authService.signUp()">
              Sign Up
            </button>

            <button
              class="btn btn-danger"
              *ngIf="authService.isAuthenticated()"
              (click)="authService.logout()">
                Log Out
            </button>
          </li>

    </ul>
  </div>

</nav>



<br>
<div class="container-fluid jumbotron">
	<div class="row justify-content-md-center">
		<div class="col col-md-1"></div>
		
    <div class='col col-md-10'>
        <hr class="">
          <div class="jumbotron bg-white text-dark card-2">
	           <router-outlet ></router-outlet>
          </div>

		</div>

		<div class="col col-md-1"></div>
	</div>

</div>
