<div class="container">
  <div class="form-group" *ngIf="authService.isLoggedIn"> <!-- AGREGADO *ngIf PARA AUTENTICACION -->
    <!--<h1>User Form</h1>-->
  </div> <!-- AGREGADO *ngIf PARA AUTENTICACION -->

  <!-- AGREGADO PARA AUTENTICACION -->
  <div class="form-group" *ngIf="!authService.isLoggedIn">
    <h1> Access denied, Please log in </h1>
  </div>
  <!-- FIN AGREGADO -->

    <div *ngFor="let error of errorList" class="alert alert-danger" role="alert">
      {{error}}
    </div>

<div *ngIf="authService.isLoggedIn">
 PARA PRUEBA: "{{user.name}}" "{{user.lastName}}"   "{{user.cuil}}"  "{{user.email}}"
</div>


    <form (ngSubmit)="onSubmit()" #userForm="ngForm">

		<div class="form-group" *ngIf="authService.isLoggedIn"> <!-- AGREGADO *ngIf PARA AUTENTICACION -->
        	<label for="name">Full Name</label>
       		<input type="text" class="form-control" id="name"
         	required [(ngModel)]="user.name" name="name"/>
       	</div>

       	<div class="form-group" *ngIf="authService.isLoggedIn"> <!-- AGREGADO *ngIf PARA AUTENTICACION -->
        	<label for="cuil">Cuil</label>
       		<input type="text" class="form-control" id="cuil" minlength="10" maxlength="11"
         	required [(ngModel)]="user.cuil" name="cuil"/>
       	</div>


      <div class="form-group" *ngIf="authService.isLoggedIn"> <!-- AGREGADO *ngIf PARA AUTENTICACION -->
        <label for="email">E-mail</label>
        <input type="email" class="form-control" id="email"
         required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
         [(ngModel)]="user.email" name="email"/>
       </div>

      <button type="submit" *ngIf="authService.isLoggedIn"
              [disabled]="!userForm.form.valid" class="btn btn-success">Edit</button>
      <!-- AGREGADO *ngIf PARA AUTENTICACION -->

    </form>
</div>
