<div class="container">
    <h1>User Form</h1>

    <div *ngFor="let error of errorList" class="alert alert-danger" role="alert">
      {{error}}
    </div>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">

		<div class="form-group">
        	<label for="name">Name</label>
       		<input type="text" class="form-control" id="name"
         	required [(ngModel)]="user.name" name="name"/>
       	</div>

       	<div class="form-group">
        	<label for="lastName">Last Name</label>
       		<input type="text" class="form-control" id="lastName"
         	required [(ngModel)]="user.lastName" name="lastName"/>
       	</div>

       	<div class="form-group">
        	<label for="cuil">Cuil</label>
       		<input type="text" class="form-control" id="cuil" minlength="10" maxlength="11"
         	required [(ngModel)]="user.cuil" name="cuil"/>
       	</div>


      <div class="form-group">
        <label for="email">Photo</label>
        <input type="email" class="form-control" id="email"
         required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
         [(ngModel)]="user.email" name="email"/>
       </div>

      <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-success">Create</button>
 
    </form>
</div>