<div *ngIf='loading'>
	<div class="text-center">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        <div>Working...</div>
    </div>

</div>

<div *ngIf='! loading'>
	
	<div class="jumbotron">
	  <h1 class="display-4">Profile</h1>
	  <p class="lead"></p>
	  <hr class="my-4">
	  	<div class="row">

		  	<div class="col-md-6">
	  			<p>Name: {{user.name}}</p>
				<p>LastName: {{user.lastName}}</p>
				<p>Cuil: {{user.cuil}}</p>
				<p>Email: {{user.email}}</p>

		  	</div>

		  	<div class="col-md-6">
		  		
				<label>Availabe Money</label>
				<p>Currency{{user.availableMoney.currency}}</p>
				<p>Amount {{user.availableMoney.amount}}</p>

		  	</div>
		
	  	</div>

	  <button (click)=editUser() class="btn btn-success btn-lg">Edit profile</button>
	
	</div>
	
</div>