<div class="container">
    <h1>Vehicle Form</h1>
    <form (ngSubmit)="onSubmit()" #vehicleForm="ngForm">

      <div class="form-group">
        <label for="capacity">Capacity</label>
        <select class="form-control" id="capacity" required 
          [(ngModel)]="vehicle.capacity" name="capacity" >
          <option *ngFor="let cap of capacities" [value]="cap">{{cap}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="vehicleType">Model</label>
        <select class="form-control" id="vehicleType" required 
          [(ngModel)]="vehicle.type" name="vehicleType" >
          <option *ngFor="let type of carTypes" [value]="type">{{type}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea minlength="10" maxlength="30" type="text" class="form-control" id="description"
         required
         [(ngModel)]="vehicle.description" name="description"> </textarea>
       </div>

      <div class="form-group">
        <label for="photo">Photo</label>
        <input type="text" class="form-control" id="photo"
         required pattern="(https?:\/\/.*\.(?:png|jpg))"
         [(ngModel)]="vehicle.photo" name="photo"/>
       </div>

      <button type="submit" [disabled]="!vehicleForm.form.valid" class="btn btn-success">Submit</button>
 
    </form>
</div>
