 <div class="form-group" >
    <h1>User list</h1>
  </div>
<div class="table-responsive">
<table class="table" >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">LastName</th>
      <th scope="col">Cuil</th>
      <th scope="col">Email</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of userList" >
      <th scope="row">1</th>
      <td>{{user.name}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.cuil}}</td>
      <td>{{user.email}}</td>
      <td>  <span (click)="edit(user)" class="oi oi-pencil clickeable"></span></td>
      <td>  <span (click)="delete(user)" class="oi oi-trash clickeable"></span></td>
    </tr>
  </tbody>
</table>


</div>