<div class="container">
  <div class="form-group" *ngIf="authService.isLoggedIn"> <!-- AGREGADO PARA AUTENTICACION -->
    <!--<h1>User list</h1>-->
  </div> <!-- AGREGADO PARA AUTENTICACION -->

  <!-- AGREGADO PARA AUTENTICACION -->
  <div class="form-group" *ngIf="!authService.isLoggedIn">
    <h1>Access denied, Please log in </h1>
  </div>
  <!-- FIN AGREGADO -->
<table class="table" *ngIf="authService.isLoggedIn"> <!-- AGREGADO *ngIf PARA AUTENTICACION -->
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">LastName</th>
      <th scope="col">Cuil</th>
      <th scope="col">Email</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>


  <tbody>
    <tr *ngFor="let user of userList" >
      <th scope="row">1</th>
      <td>{{user.name}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.cuil}}</td>
      <td>{{user.email}}</td>
<!-- NO ESTAN FUNCIONANDO
      <td>  <button type='button' (click)="edit(user)" ><span class="oi oi-pencil"></span></button> </td>
-->
      <td>  <button type='button'
                    *ngIf="service.getLoggedUser().id==user.id"
                    (click)="editLoggedUser()" ><span class="oi oi-pencil"></span></button> </td>
      <td>  <button type='button'
                    *ngIf="service.getLoggedUser().id==user.id"
                    (click)="delete(user.id)" ><span class="oi oi-trash"></span></button> </td>
    </tr>
  </tbody>
</table>
</div>

